<div data-controller="title" class="container">
  <h1 id="0" data-title-target="songName">Pages#home</h1>
  <% titles = ["The first title", "This should come 2nd!!!", "Then this guy!!! Third!!", "ONE MORE!!"] %>
  <% titles.each_with_index do |title, index| %>
    <div data-title-target="song" data-time=10 id=<%= index %> style="display:none">DEFAULT TITLE <%= index %></div>
  <% end %>
</div>
